.description{
    font-weight: bolder;
}

.background {
    background-color: rgb(124, 221, 124);

}

div {
    display: block
}

header {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
  }

  .searchbutton {
    color: white;
  }